ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;
}

.cons{
  border: 3px solid #ba2dba;
  width: 50%;
  margin: auto;
  text-align: center;
  border-radius: 6px;

}
label{
  width: 250px;
}
